@media (max-width: 767px) {
  .root {
    margin: 0 16px;
  }
}

@media (min-width: 768px) {
  .root {
    max-width: 728px;
  }
}

@media (min-width: 1024px) {
  .root {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .root {
    max-width: 1216px;
  }
}